In [1]:
import pandas as pd

amostra = pd.read_parquet('base_amostra.parquet')

amostra.sample(10)

,NM_AVALIACAO,DT_REFERENCIA,TP_INSTANCIA,NM_DISCIPLINA,CD_DESCRITOR,QTD_ITENS,QTD_ACERTOS,QTD_ERROS,CD_ESCOLA,CD_MUNICIPIO,...,NM_ESCOLA,NM_MUNICIPIO,NM_REGIONAL,CD_ESTADO,NM_ESTADO,NM_FONTE,CD_TURMA,NM_TURMA,TX_ACERTO,ID_ANONIMO
54264,AMA - 1ª Trimestre 2024,2024-04-01,ALUNO,MATEMÁTICA,D145_M,5,0,5,32040067.0,3205309.0,...,EEEM COLEGIO ESTADUAL DO ESPIRITO SANTO,VITORIA,SRE CARAPINA,32.0,ESPÍRITO SANTO,AMA_2024_1T_tratada.csv,nan,nan,0.00,8988885232289069011
44533,AMA - 2ª Trimestre 2024,2024-07-01,ALUNO,LÍNGUA PORTUGUESA,D055_P,2,2,0,32038534.0,3205200.0,...,EEEFM PROF GERALDO COSTA ALVES,VILA VELHA,SRE VILA VELHA,32.0,ESPÍRITO SANTO,AMA_2024_2T_tratada.csv,nan,nan,1.00,4322858722002854400
21011,AMA - 3ª Trimestre 2024,2024-10-01,ALUNO,LÍNGUA PORTUGUESA,D060_P,1,0,1,32033940.0,3201308.0,...,EEEFM SATURNINO RANGEL MAURO,CARIACICA,SRE CARIACICA,32.0,ESPÍRITO SANTO,AMA_2024_3T_tratada.csv,nan,nan,0.00,2188541888989139766
26076,AMA - 3ª Trimestre 2024,2024-10-01,ALUNO,LÍNGUA PORTUGUESA,D044_P,2,0,2,32065051.0,3205101.0,...,EEEM IRMA DULCE LOPES PONTE,VIANA,SRE CARIACICA,32.0,ESPÍRITO SANTO,AMA_2024_3T_tratada.csv,nan,nan,0.00,11709247354507696822
28254,AMA - 2ª Trimestre 2024,2024-07-01,ALUNO,LÍNGUA PORTUGUESA,D050_P,1,1,0,32080867.0,3200805.0,...,CEEMTI BAIXO GUANDU,BAIXO GUANDU,SRE COLATINA,32.0,ESPÍRITO SANTO,AMA_2024_2T_tratada.csv,nan,nan,1.00,631648711912357955
59081,AMA - 3ª Trimestre 2024,2024-10-01,ALUNO,MATEMÁTICA,D131_M,4,2,2,32065027.0,3205101.0,...,EEEM AUGUSTO RUSCHI,VIANA,SRE CARIACICA,32.0,ESPÍRITO SANTO,AMA_2024_3T_tratada.csv,nan,nan,0.50,11988310458172612351
13081,AMA - 1ª Trimestre 2024,2024-04-01,ALUNO,LÍNGUA PORTUGUESA,D024_P,1,0,1,32063199.0,3205309.0,...,EEEFM ELZA LEMOS ANDREATTA,VITORIA,SRE CARAPINA,32.0,ESPÍRITO SANTO,AMA_2024_1T_tratada.csv,nan,nan,0.00,6922408144478570235
23845,AMA - 3ª Trimestre 2024,2024-10-01,ALUNO,LÍNGUA PORTUGUESA,D024_P,1,1,0,32037791.0,3205101.0,...,EEEFM NELSON VIEIRA PIMENTEL,VIANA,SRE CARIACICA,32.0,ESPÍRITO SANTO,AMA_2024_3T_tratada.csv,nan,nan,1.00,8344543313673496786
47780,AMA - 3ª Trimestre 2024,2024-10-01,ALUNO,LÍNGUA PORTUGUESA,D062_P,4,3,1,32038755.0,3205200.0,...,EEEM GODOFREDO SCHNEIDER,VILA VELHA,SRE VILA VELHA,32.0,ESPÍRITO SANTO,AMA_2024_3T_tratada.csv,nan,nan,0.75,10368236079563443462
25367,AMA - 2ª Trimestre 2024,2024-07-01,ALUNO,LÍNGUA PORTUGUESA,D055_P,2,1,1,32065027.0,3205101.0,...,EEEM AUGUSTO RUSCHI,VIANA,SRE CARIACICA,32.0,ESPÍRITO SANTO,AMA_2024_2T_tratada.csv,nan,nan,0.50,15047939319323887395

In [4]:
amostra['DT_REFERENCIA'].unique()

<DatetimeArray>
['2024-07-01 00:00:00', '2024-04-01 00:00:00', '2024-10-01 00:00:00',
 '2024-11-01 00:00:00', '2023-11-01 00:00:00']
Length: 5, dtype: datetime64[ns]

In [3]:
if not pd.api.types.is_datetime64_any_dtype(amostra["DT_REFERENCIA"]):
            amostra["DT_REFERENCIA"] = amostra.to_datetime(amostra["DT_REFERENCIA"], errors="coerce")

In [6]:
amostra.loc[amostra['CD_REGIONAL'].isna()]

Empty DataFrame
Columns: [NM_AVALIACAO, DT_REFERENCIA, TP_INSTANCIA, NM_DISCIPLINA, CD_DESCRITOR, QTD_ITENS, QTD_ACERTOS, QTD_ERROS, CD_ESCOLA, CD_MUNICIPIO, CD_REGIONAL, NM_ESCOLA, NM_MUNICIPIO, NM_REGIONAL, CD_ESTADO, NM_ESTADO, NM_FONTE, CD_TURMA, NM_TURMA, TX_ACERTO, ID_ANONIMO]
Index: []

[0 rows x 21 columns]

In [8]:
amostra.describe()

,DT_REFERENCIA,QTD_ITENS,QTD_ACERTOS,QTD_ERROS,TX_ACERTO
count,70455,70455.0,70449.0,70449.0,70449.000000
mean,2024-07-12 15:18:45.296997888,2.162558,2.239876,1.904442,1.633427
min,2023-11-01 00:00:00,1.0,0.0,0.0,0.000000
25%,2024-04-01 00:00:00,1.0,1.0,0.0,0.333333
50%,2024-07-01 00:00:00,2.0,1.0,1.0,1.000000
75%,2024-10-01 00:00:00,3.0,2.0,2.0,1.000000
max,2024-11-01 00:00:00,5.0,1546.0,2015.0,1546.000000
std,NaN,1.238575,16.297168,17.931846,16.308934

In [9]:
amostra.columns

Index(['NM_AVALIACAO', 'DT_REFERENCIA', 'TP_INSTANCIA', 'NM_DISCIPLINA',
       'CD_DESCRITOR', 'QTD_ITENS', 'QTD_ACERTOS', 'QTD_ERROS', 'CD_ESCOLA',
       'CD_MUNICIPIO', 'CD_REGIONAL', 'NM_ESCOLA', 'NM_MUNICIPIO',
       'NM_REGIONAL', 'CD_ESTADO', 'NM_ESTADO', 'NM_FONTE', 'CD_TURMA',
       'NM_TURMA', 'TX_ACERTO', 'ID_ANONIMO'],
      dtype='object')

In [19]:
caminho_desc = r'../data/descritores_paebes_23_24.csv'

descritores = pd.read_csv(caminho_desc, encoding = 'ISO 8859-1', sep= ';')
descritores.columns

Index(['CD_DESCRITOR', 'NM_DESCRITOR'], dtype='object')